<p id="notice"><%= notice %></p>

<p>
  <strong>Photo:</strong>
  <!-- <%= @photo.photo %> -->
  <td><%= image_tag @photo.photo.url %></td>
</p>

<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
